# Ignorar el entorno virtual de Python
venv/
.venv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc

# Ignorar archivos de configuración de VSCode
.vscode/

# Ignorar archivos de Git
.git/
.gitignore